@use "../../../styles/shared/global-classes.scss";

.root {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

.content {
  min-height: 100%;
  padding: 0.8em 0;
  overflow-y: auto;
}
