.tollbar {
  display: grid;
  padding: 0.3em;
  gap: 0.5em;
}

.box {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 1em;
  width: 100%;
}

.header {
}

.unit {
}
