.tollbar {
  place-self: end;
}

.box {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  place-content: right;
  grid-auto-columns: max-content;
  justify-content: right;
  gap: 0.5em;
}

.header {
}

.unit {
}
